:root {
  --NAVY-BLUE: #2e2f42;
  --WHITE: #fff;
  --CORNFLOWER: #e7e9fc;
  --IRIS: #4d5ae5;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
  --SLATE: #434455;
  --dark-bg: var(--NAVY-BLUE);
  --topline-bg: var(--WHITE);
  --light-bg: var(--CLOUD);
  --accent-bg: var(--IRIS);
  --bg-color: var(--WHITE);
  --primary-text-color: var(--NAVY-BLUE);
  --secondary-text-color: var(--WHITE);
  --bottom-text-color: var(--SLATE);
  --accent-text-color: var(--IRIS);
}

body {
  color: var(--primary-text-color);
  background-color: var(--bg-color);

  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* General Styles */
.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  border: 0px;
}

.current {
  color: var(--accent-text-color);
  text-decoration: none;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.item {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.container {
  width: 1158px;
}

.section-title {
  color: var(--primary-text-color);
  text-align: center;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.top-text {
  color: var(--primary-text-color);

  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.bottom-text {
  color: var(--bottom-text-color);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
}
/* End of General Styles */

/* HEADER Styles */
header {
  border: none;
}

.container {
  width: 1158px;
}

.logo,
.logo-footer {
  color: var(--accent-text-color);
  font-family: Raleway;
  font-size: 18px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

#studio {
  color: var(--primary-text-color);
}

#studio-footer {
  color: var(--secondary-text-color);
}
/* End of HEADER Styles */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main {
  background-color: var(--dark-bg);
  color: var(--WHITE);
  text-align: center;
}

.main-title {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  padding-bottom: 30px;
}

.button-main {
  background-color: var(--accent-bg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--secondary-text-color);

  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.team {
  background-color: var(--CLOUD);
}

.filter-list > button {
  /* layout */
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  /* style */
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background-color: var(--light-bg);
}

.filter-list button:hover,
.filter-list button:focus {
  /* layout */
  align-items: flex-start;
  /*style*/
  border-radius: 4px;
  background-color: var(--OCEAN, #404bbf);
  color: var(--secondary-text-color);
}

.project.list > li.project {
  width: 360px;
  height: 420px;
  box-sizing: border-box;
  list-style: none;

  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background-color: var(--WHITE, #fff);
}

.project-image {
  width: 360px;
  height: 300px;
  flex-shrink: 0;
}

.project-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.project-type {
  color: var(--SLATE, #434455);
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.main-footer {
  background-color: var(--NAVY-BLUE);
}
.section-footer a {
  color: var(--WHITE);
}
